@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Oxygen:wght@300&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
}

:root {
  --color-1: #2c2387;;
  --color-2: #33539C;
  --color-3: #d6e0f0;
}

a {
  text-decoration: none;
}
